img{
  width: 400%;
  background-size: 882%;
  background-repeat: no-repeat;
  background-position: center;
}

.b1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.b2{
  display: flex;
  align-items: center;
  justify-content: center;
}
